@page
@model IndexModel
@{
    ViewData["Title"] = "Visual Studio HTML Assignment";
}

<div class="text-center">
    <h1 id="animation" class="display-4" onmouseover="grow()" onmouseout="shrink()">Visual Studio HTML Assignment</h1>
    <p>Check out the video below!</p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/yctQRe--q6c?si=Zceov55JO8cp3GRB"></iframe>
</div>
